* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 7722px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_2 {
  width: 100%;
  height: 354px;
  background: url("../images/v8_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 354px;
  background: rgba(0,48,91,0.95686274766922);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v1_15 {
  width: 318px;
  color: rgba(149,158,174,1);
  position: absolute;
  top: 254px;
  left: 282px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_22 {
  width: 141px;
  color: rgba(149,158,174,1);
  position: absolute;
  top: 12px;
  left: 292px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_13 {
  width: 781px;
  height: 204px;
  background: url("../images/v1_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 340px;
  overflow: hidden;
}
.v1_19 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 295px;
  left: 136px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_18 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 296px;
  left: 71px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_17 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 295px;
  left: 277px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v15_13 {
  width: 100%;
  height: 519px;
  background: url("../images/v15_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 427px;
  left: 20px;
  overflow: hidden;
}
.v13_9 {
  width: 100%;
  height: 519px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v13_10 {
  width: 236px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 49px;
  font-family: Roboto;
  font-weight: SemiBold Italic;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v15_12 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 108px;
  left: 49px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_5 {
  width: 470px;
  height: 614px;
  background: url("../images/v8_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1137px;
  left: 268px;
  overflow: hidden;
}
.v8_6 {
  width: 470px;
  height: 610px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v8_7 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 540px;
  left: 156px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v9_16 {
  width: 473px;
  height: 222px;
  background: url("../images/v9_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 3px;
  overflow: hidden;
}
.v8_8 {
  width: 413px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 146px;
  left: 24px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_9 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 86px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_14 {
  width: 470px;
  height: 614px;
  background: url("../images/v6_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1137px;
  left: 223px;
  overflow: hidden;
}
.v5_3 {
  width: 470px;
  height: 610px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v6_12 {
  width: 265px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 540px;
  left: 102px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2_31 {
  width: 413px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 146px;
  left: 24px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_30 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 124px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v2_34 {
  width: 422px;
  height: 237px;
  background: url("../images/v2_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 24px;
  overflow: hidden;
}
.v6_13 {
  width: 470px;
  height: 614px;
  background: url("../images/v6_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1137px;
  left: 0px;
  overflow: hidden;
}
.v3_2 {
  width: 470px;
  height: 610px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v6_10 {
  width: 265px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 554px;
  left: 94px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2_27 {
  width: 429px;
  height: 241px;
  background: url("../images/v2_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 20px;
  overflow: hidden;
}
.v1_25 {
  width: 413px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 146px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_24 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 118px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v8_4 {
  width: 100%;
  height: 77px;
  background: url("../images/v8_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1003px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 100%;
  height: 73px;
  background: rgba(255,134,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_16 {
  width: 567px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 447px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v13_5 {
  width: 589px;
  height: 90px;
  background: url("../images/v13_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1884px;
  left: 276px;
  overflow: hidden;
}
.v13_2 {
  width: 589px;
  height: 90px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v13_3 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 38px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v18_3 {
  width: 100%;
  height: 73px;
  background: rgba(11,57,98,1);
  opacity: 1;
  position: absolute;
  top: 2031px;
  left: 0px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v19_15 {
  width: 100%;
  height: 1210px;
  background: url("../images/v19_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2161px;
  left: 0px;
  overflow: hidden;
}
.v19_2 {
  width: 100%;
  height: 100%;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 71px;
  border-top-right-radius: 71px;
  border-bottom-left-radius: 71px;
  border-bottom-right-radius: 71px;
  overflow: hidden;
}
.v19_3 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 54px;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v19_4 {
  width: 815px;
  height: 344px;
  background: url("../images/v19_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 389px;
  overflow: hidden;
}
.v18_5 {
  width: 100%;
  height: 73px;
  background: rgba(11,57,98,1);
  opacity: 1;
  position: absolute;
  top: 3425px;
  left: 0px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v19_23 {
  width: 100%;
  height: 1433px;
  background: url("../images/v19_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3552px;
  left: 0px;
  overflow: hidden;
}
.v19_24 {
  width: 100%;
  height: 100%;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 71px;
  border-top-right-radius: 71px;
  border-bottom-left-radius: 71px;
  border-bottom-right-radius: 71px;
  overflow: hidden;
}
.v19_25 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 54px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v19_26 {
  width: 647px;
  height: 264px;
  background: url("../images/v19_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 429px;
  overflow: hidden;
}
.v18_6 {
  width: 100%;
  height: 73px;
  background: rgba(11,57,98,1);
  opacity: 1;
  position: absolute;
  top: 5047px;
  left: 0px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v18_2 {
  width: 100%;
  height: 1504px;
  background: url("../images/v18_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5182px;
  left: 0px;
  overflow: hidden;
}
.v19_28 {
  width: 100%;
  height: 100%;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 71px;
  border-top-right-radius: 71px;
  border-bottom-left-radius: 71px;
  border-bottom-right-radius: 71px;
  overflow: hidden;
}
.v19_29 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 54px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v19_30 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 85px;
  left: 54px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
